<!DOCTYPE html>
<html>
<head>
    <title>Телефонная книга</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Телефонная книга</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Имя" required>
        <input type="text" name="number" placeholder="Телефон" required>
        <input type="submit" value="Добавить контакт">
    </form>
    <form action="/clear" method="POST">
        <input type="submit" value="Очистить базу данных">
    </form>
    <div class="contact">
        {% for contact in contacts %}
            <div class="contact">
                <strong>{{ contact.name }}</strong><br>
                Телефон: {{ contact.number }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
